
<div class="text-center p-0 mt-0 bd-highlight">   
    <h1 class="font-weight-bold titleStarted">LCA SYS</h1>   
    <h5 class="SubtitleStarted">Manteniendo tu Tecnología, Elevando tu Éxito</h4>  
    <p class="parrafoStarted">En LCA, nos dedicamos apasionadamente a mantener tu mundo tecnológico en perfecto equilibrio.
       Somos más que expertos en mantenimiento; somos tu socio de confianza en la era digital. Nuestro 
       equipo altamente calificado está comprometido con proporcionar soluciones de vanguardia para garantizar 
       que tu tecnología opere sin problemas.
    </p>            
</div>


<!--
<div>         
    <img src="../img/img5.jpeg" class="img-fluid img-thumbnail rounded mx-auto d-block" width="600" height="300">        
</div>
-->

<div class="col-md-7 mx-auto">
  <img src="/img/LCA__PngLogo.png" class="rounded mx-auto d-block img-fluid imgStarted" width="507" alt="...">

</div>